In [1]:
import pandas as pd
import numpy as np

In [2]:
file=pd.read_csv('ISOT_Merge.csv')
file

,title,text,subject,date,label
0,Puerto Rico says will default on $779 million ...,SAN JUAN (Reuters) - Puerto Rico on Friday sai...,politicsNews,"July 1, 2016",0
1,Czech ANO party dips but keeps commanding lead...,PRAGUE (Reuters) - Support for billionaire And...,worldnews,"October 16, 2017",0
2,LOL! SNARKY WHITE YAHOO Sports Writer TRASHES ...,How very bold of the white Yahoo sports writer...,left-news,"Sep 27, 2017",1
3,Jimmy Kimmel Joins The Ladies Of ‘The View’ T...,Ever since we ve heard the news of Donald Trum...,News,"May 16, 2016",1
4,MUSLIM ATHLETE Given “Hero’s Welcome” ARRESTED...,An Indian athlete who overcame a visa denial w...,politics,"Mar 4, 2017",1
...,...,...,...,...,...
44893,Congressional Black Caucus Cries Foul Over Su...,"Earlier this week, following Hillary Clinton s...",News,"February 11, 2016",1
44894,BUSTED! GUESS WHO DEFENDED The Senate’s Role I...,THE MAIN STREAM MEDIA CHOOSES to ignore the fa...,politics,"Feb 22, 2016",1
44895,THIS PICTURE OF HARRIET TUBMAN Should Be Used ...,Obama has filled his cabinet with radical yes...,politics,"Apr 21, 2016",1
44896,AWESOME! UK LEADER: Nothing on Earth could eve...,,politics,"Jun 29, 2016",1
44897,U.S. tip-off helped Russia thwart 'major' terr...,WASHINGTON (Reuters) - U.S. intelligence agenc...,worldnews,"December 17, 2017",0

In [3]:
file.isna().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [4]:
file=file.drop(['subject','date'],axis=1)
file

,title,text,label
0,Puerto Rico says will default on $779 million ...,SAN JUAN (Reuters) - Puerto Rico on Friday sai...,0
1,Czech ANO party dips but keeps commanding lead...,PRAGUE (Reuters) - Support for billionaire And...,0
2,LOL! SNARKY WHITE YAHOO Sports Writer TRASHES ...,How very bold of the white Yahoo sports writer...,1
3,Jimmy Kimmel Joins The Ladies Of ‘The View’ T...,Ever since we ve heard the news of Donald Trum...,1
4,MUSLIM ATHLETE Given “Hero’s Welcome” ARRESTED...,An Indian athlete who overcame a visa denial w...,1
...,...,...,...
44893,Congressional Black Caucus Cries Foul Over Su...,"Earlier this week, following Hillary Clinton s...",1
44894,BUSTED! GUESS WHO DEFENDED The Senate’s Role I...,THE MAIN STREAM MEDIA CHOOSES to ignore the fa...,1
44895,THIS PICTURE OF HARRIET TUBMAN Should Be Used ...,Obama has filled his cabinet with radical yes...,1
44896,AWESOME! UK LEADER: Nothing on Earth could eve...,,1
44897,U.S. tip-off helped Russia thwart 'major' terr...,WASHINGTON (Reuters) - U.S. intelligence agenc...,0

In [5]:
file.to_csv('ISOT_EDA.csv',index=False,encoding='utf-8')